<!DOCTYPE html>
<html>
<h1>About</h1>
<p style="width:50%">Author: Evan Bertz<br>
LyonsU 2018<br><br><br>
This application allows the user to submit GET or POST data via a form, add and delete broswer cookies, and displays HTTP request header information.<br><br>
For this app I used the Express framework for url routing and serving static files<br>

I used the templating engine ejs to embed javascript variables in my HTML<br><br>

<a href="/"> back to home </a>

</p>
</html>