<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css"></link>
		<script src='https://code.jquery.com/jquery-3.2.1.js'></script>
		<script src="content.js"></script>		

		<title>Node Project</title>
	</head>

	<body >
		<img src="node.png" style="display:none;">
		<h3 id="banner"> My Node.js Project! <span style="float:right;font-size: 10pt;bottom:0;left:97%;position:absolute;;"><a href="/about">about</a></span></h3>

		
		<div id="content" style="position:relative;width:60%;margin:auto;padding-top: 40px;">
			<div id="row1">
				<div id="cookie_info" class="infopanel">
					<h3> Add a Cookie </h3>
					<form method="post" action="/cookies">
						<h4>Name</h4><input type="text" name="name">
						<h4>Value</h4><input type="text" name="value">
						<input  id = "submit" type="submit" value="submit">
					</form>
					<h3> Cookies </h3>
					<table style='display:none;'id="cookieJar"></table>

				</div>

				<div id="request_info" class="infopanel">
					<h3> Submit GET or POST Data</h3>
					<form method="post" action="/post">
						<h4>Submit POST Data</h4>
						<input type="text" name="post_data">
						<input type="submit" value="submit">
					</form>
					<form method="get" action="/get">
						<h4>Submit GET Data</h4>
						<input type="text" name="get_data">
						<input type="submit" value="submit">
					</form>
					<% if (get_data) { %>
						<h3>GET Data</h3><h1> <%= get_data %> </h1>
					<% } %>
					<% if (post_data) { %>
						<h3>POST Data</h3><h1> <%= post_data %> </h1>
					<% } %>
					
				</div>
			</div>

			<h3> Request Header Data </h3>
			<table  > 
			<tr><th>Item</th><th>Value</th></tr>
			<tr><td>Host</td><td> <%=headers.host %> </td></tr>
			<tr><td>Referer</td><td> <%=headers.referer %> </td></tr>
			<tr><td>User-Agent</td><td> <%=headers['user-agent'] %> </td></tr>

			</table>
		</div>
		<br><br>

	</body>
</html>