table {
	margin: auto;
    color: #333;
    width: 100%; 
    border-collapse: 
    collapse; border-spacing: 0; 
}
td, th {  
    border: 1px solid transparent; /* No more visible border */
    height: 30px; 
    transition: all 0.3s;  /* Simple transition for hover effect */
}
th {  
    background: #DFDFDF;  /* Darken header a bit */
    font-weight: bold;
}

td {  
    background: #FAFAFA;
    text-align: center;
}


* {
	    font-family: Helvetica, Arial, sans-serif;
}
h1 {
	overflow-wrap: break-word;
}
h3 {
	background: #8FD9E3;
	width:100%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
h4 {
	margin-bottom: 5px;
}
input {
    display: block;
    margin-bottom: 10px;

}

#row1 {
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}
#cookie_info{
	width:50%;
	display:flex;
	flex-direction:column;

}
#request_info {
	width:50%;
	display:flex;
	flex-direction:column;
}
.infopanel {
	margin: 10px;
	margin-top: 0;
	padding: 5px;

	border: 2px solid black;
}
#banner {
	font-size: 30pt;
	margin-bottom:0;
	position: relative;
}
form {
	padding-left: 5px;
}